# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log

# Environment files
.env
.env.local
.env.*.local

# Dependencies
node_modules

# Build outputs
dist
build

# Testing
coverage
.nyc_output

# OS files
Thumbs.db
